body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  color:#C5C6C7;
  border:5px solid #66fcf1;
  border-radius:5px;
}
.link{
  color:#C5C6C7;
}

div.topnav {
position:sticky;
  overflow: hidden;
top: 0;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.post-container{
  border-top:2px solid #C5C6C7;
  border-bottom:2px solid #C5C6C7;
  border-radius:15px;
  margin:auto;
  overflow:auto;
	width:100%;
}
.dp-thumb{
	hieght:20%;
	width:20%;

}
.dp-full{
	display:flex;
	width:100%;
	hieght:100%;
}
.username{
font-family: "Sofia", sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px #ababab;
  color:#66fcf1;
  
}
.img-post{
	hieght:80%;
}
.post-lower{
	display:flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
hr{
            color: white;
            backgroundColor: grey;
            height: 1;
        }
